

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: white;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
